doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
  body
    noscript
      You need to enable JavaScript to run this app.
    div#root
      script
        include:babel /lib/cadre.min.js
