
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}


.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  background-color: #c09f80;
  height: 50px;
  width: 100%;
  overflow: hidden;

}

